* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .container {
  display: flex;
} */

.cont {
  position: relative;
  left: 0;
  top: 0;
  max-height: 500px;
}

.img1 {
  position: relative;
  top: 0;
  left: 0;
}


.img2 {
  position: absolute;
  top: 230px;
  left: 500px;
}

.img3 {
  position: absolute;
  top: 60px;
  left: 550px;
}

.verticle-line {
  width: 1px;
  min-height: 48px;
  background: rgb(214, 210, 210);
  position: absolute;
  top: 60px;
  left: 552px;
}

.man {
  position: absolute;
  top: 400px;
  left: -200px;
  background-color: transparent;
}